@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model 濒临动物.Models.Entity.Animal

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="@Url.Content("~/css/DetailsIndex.css")" rel="stylesheet" type="text/css" />
	<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
	<script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
	<title>濒危动物</title>
</head>
<body>
	<div class="banner">
		<img src="https://wallpaperm.cmcm.com/d03bb52719cf142af53e8b131ed61567.jpg" />
		<h1>Filed Of Work</h1>
	</div>

	<div class="wrapper">
		<div>
			<h1 style="color:darkorange">Do You Know？</h1>
			<div class="desc">
				<p>
					@Model.Desc
				</p>
			</div>
		</div>
		<div>
			<h1 style="color:cornflowerblue">We are in action</h1>
			<div>
				<ul>
					@foreach (var item in @Model.WeDo.Split('&'))
					{
						<li>@item</li>
					}
				</ul>
				
			</div>
		</div>
		<div>
			<h1 style="color:lightgreen">What can you do?</h1>
			<div>
				<p>
					@Model.WeDo
				</p>
			</div>
		</div>

	</div>



</body>
</html>